<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>687071961570-pf2g48vq2dapja4k55fonorq1cd5ju9i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.687071961570-pf2g48vq2dapja4k55fonorq1cd5ju9i</string>
	<key>API_KEY</key>
	<string>AIzaSyAjNyf7nEUmHLP5m-WencEJPXL_N2N0sUA</string>
	<key>GCM_SENDER_ID</key>
	<string>687071961570</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Dogpa.Swift-Practice---109-Firebase-Google-Login</string>
	<key>PROJECT_ID</key>
	<string>swift-practice-109</string>
	<key>STORAGE_BUCKET</key>
	<string>swift-practice-109.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:687071961570:ios:bb88084a064f685dd359bb</string>
</dict>
</plist>